body{
	background-color: #010001;
	color: #fff;
	margin: 0;
	padding-top: 53px;
	font-family: 'Roboto', sans-serif;
}
.header{
	max-width: 1230px;
	width: 90%;
	height: 16.71px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.list{
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}
.item-link{
	color: #fff;
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 12px;
	line-height: 14px;
}
.secandary-nav .item-link{
	color: #808080; 
}
.main{
	text-align: center;
	padding-top:190px;
	padding-bottom: 26px;
}
.title{
	font-size: 64px;
	line-height: 75px;
	margin-bottom: 26px;
	margin-top: 0;
}
.description{
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 140%;
	max-width: 268px;
	margin:auto;
}
.description:after{
	content: '';
	display: block;
	width: 1px;
	height: 60px;
	background-color: #fff;
	margin: auto;
	margin-top: 26px;
}
.video{
	height: 750px;	
	max-width: 1230px;
	width: 90%;
	margin: auto;
}
.features-title{
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 140%;
	text-transform: uppercase;
	margin-bottom: 45px;
}
.features{
	max-width: 1230px;
	width: 90%;
	margin: auto;
	padding: 100px 0;
	position: relative;
}
.table{
	margin-bottom: 200px;
}
.table-column{
	width: 300px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 179.69%;
}
.features-text{
	max-width: 490px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 29px;
}
.rocket{
	position: absolute;
	top: 0;
	right: 100px;
	z-index: 99;
	max-width: 300px;
}
.footer{
	padding: 130px 0;
	display:flex;
	flex-direction: column;
	align-items: center;
}
.footer-nav .item-link{
	font-size: 18px;
	line-height: 21px;

}
.footer .logo{
	margin-bottom: 43px;
}
.footer-nav{
	margin-bottom: 28px;
}
.footer-text{
	font-size: 18px;
	line-height: 21px;
	color: #808080;
	text-decoration:none;
	margin-bottom: 30px;
	margin-top: 0;
} 
.footer-link{
	color: #808080;
	text-decoration:none;
}
.button{
	color: #fff;
	min-width: 260px;
	padding: 20px;
	text-align: center;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 6px;
	text-decoration: none;
}
@media (max-width: 960px){
	.body{
		background-color: #fff;
	}
	.rocket{
		max-width: 200px;
		top: 800px;
	}
	.table-column{

	}
}
@media(max-width: 760px){
	.header{
		flex-direction: column;
		align-items: center;
	}
	.header .logo{
		margin-bottom: 20px;
	}
	.header .main-nav{
		margin-bottom: 20px;
	}
	.rocket{
		display: none;
	}
}
